DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=dietapp
JWT_SECRET=cambiar_esto_por_una_clave_larga_y_segura_en_produccion
JWT_REFRESH_SECRET=cambiar_esto_por_otra_clave_larga_y_segura_para_refresh
